.temperatura-media {
    .area-anual {
        fill: #e34f6f;
        stroke: none;
    }
    .line {
        fill: var(--gradient2);
        stroke: none;
    }
    .axis-x,
    .axis-y {
        .domain {
            stroke: none;
        }
    }
    .tick {
        text {
            font-size: 12px;
        }
        line {
            stroke: var(--impureBlack);
        }
    }
    .overlay {
      fill: none;
      pointer-events: all;
    }
    .circle-focus {
        fill: #30155d;
        stroke: #30155d;
    }
    .text-focus {
        font-size: 1rem;
        font-family: var(--roboto);
        font-weight: bold;
    }
}
