.clima-intro {
    position: relative;
    padding: 20px;
}

.zaragoza-img {
    max-width: 100%;
    object-fit: cover;
}

.legend-text {
    font-size: 18px;
    font-family: var(--georgia);
    color: var(--impureBlack);
    margin-top: 0;
}

.clima-subtitle {
    font-size: 24px;
    margin: 5px 0;
}

.clima-pie {
    font-size: 16px;
    font-family: var(--georgia);
    margin-top: 16px;
    color: var(--impureBlack);
    display: block;
    text-align: center;
}

.clima-legend {
    font-family: var(--georgia);
    font-size: 18px;
}

.clima-link {
    display: block;
    margin-top: 10px;
}
