* {
    font-family: var(--fontSystem);
    line-height: 1.5;
    box-sizing: border-box;
}

svg {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.bold {
    font-family: var(--georgia);
    font-weight: bold;
}

.montserrat {
    font-family: var(--montserrat);
}

.georgia {
    font-family: var(--georgia);
}

.system-font {
    font-family: var(--fontSystem);
}

.monospace {
    font-family: var(--monospace);
}

.color-title-max {
    color: var(--midnightBlue);
}

.color-title-min {
    color: var(--impureWhite);
}

.wrapper-vw,
.wrapper-footer {
    width: 90vw;
    margin: 0 auto;
}

.subtitle {
    font-family: var(--montserrat);
    color: #072a12;
    font-weight: bold;
    font-size: 24px;
    margin: 5px auto;
    text-align: left;
    &:before {
        content: '';
        display: block;
        border-bottom: 5px solid var(--gradient2);
        width: 1em;
    }
}

.texto {
    font-size: 18px;
    color: var(--impureBlack);
    font-family: var(--georgia);
}

.tropicales,
.heladas {
    position: relative;
    text-align: center;
    .wrapper-vw {
        margin-bottom: 0;
    }
}

.chart-container {
    max-width: 1200px;
    margin: 0 auto;
}

.tropicales-text {
    text-align: left;
    &.wrapper-vw {
        margin-top: 0;
    }
}

.chart-lluvias-recogida {
    .line {
        stroke: blue;
        stroke-width: 2px;
    }
}

.lluvias-mes-media-chart-graph {
    .bar {
        fill: #82ceea;
    }
}

.lluvias-por-mes-select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 10rem;
    background-color: #f1f1f1;
    margin: 25px 0;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        box-shadow: none;
        border: 0 !important;
        width: 100%;
        background-color: transparent;
        height: 100%;
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 20px;
        background-position: 95% center;
    }
}

.lluvias-por-mes-chart-container {
    position: relative;
}

.tooltip-lluvia-mes-container {
    position: absolute;
    top: 10%;
    left: 15%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #34009c;
}

.tooltip-lluvia-mes {
    font-size: 16px;
    color: #fff;
}

.tooltip-lluvia-mes-total {
    font-weight: bold;
}

