* {
    font-family: var(--fontSystem);
    line-height: 1.5;
}

.bold {
    font-family: var(--georgia);
    font-weight: bold;
}

.montserrat {
    font-family: var(--montserrat);
}

.georgia {
    font-family: var(--georgia);
}

.system-font {
    font-family: var(--fontSystem);
}

.monospace {
    font-family: var(--monospace);
}

.subtitle {
    font-family: var(--montserrat);
    color: #072a12;
    font-weight: bold;
    font-size: 40px;
    margin: 5px 0;
    &:before {
        content: '';
        display: block;
        border-bottom: 5px solid var(--gradient2);
        width: 1em;
    }
    &.wrapper-vw {
        margin-bottom: 2vh;
    }
}

.texto {
    font-size: 18px;
    color: var(--impureBlack);
    font-family: var(--georgia);
}

.tropicales,
.heladas {
    position: relative;
    height: 100vh;
    text-align: center;
    .wrapper-vw {
        margin-bottom: 0;
    }
}

.chart-tropicales,
.chart-heladas {
    max-width: 1200px;
}

.tropicales-text {
    &.wrapper-vw {
        margin-top: 0;
    }
}

.wrapper-vw {
    width: 80vw;
    max-width: 1200px;
    margin: 10vh auto;
}
