* {
    font-family: var(--fontSystem);
    line-height: 1.5;
    box-sizing: border-box;
}

svg {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.bold {
    font-family: var(--georgia);
    font-weight: bold;
}

.montserrat {
    font-family: var(--montserrat);
}

.georgia {
    font-family: var(--georgia);
}

.system-font {
    font-family: var(--fontSystem);
}

.monospace {
    font-family: var(--monospace);
}

.color-title-max {
    color: var(--midnightBlue);
}

.color-title-min {
    color: var(--impureWhite);
}

.wrapper-vw,
.wrapper-footer {
    width: 90vw;
    margin: 0 auto;
}

.subtitle {
    font-family: var(--montserrat);
    color: #072a12;
    font-weight: bold;
    font-size: 24px;
    margin: 5px auto;
    text-align: left;
    &:before {
        content: '';
        display: block;
        border-bottom: 5px solid var(--gradient2);
        width: 1em;
    }
}

.texto {
    font-size: 18px;
    color: var(--impureBlack);
    font-family: var(--georgia);
}

.tropicales,
.heladas {
    position: relative;
    text-align: center;
    .wrapper-vw {
        margin-bottom: 0;
    }
}

.chart-container {
    max-width: 1200px;
    margin: 0 auto;
}

.tropicales-text {
    text-align: left;
    &.wrapper-vw {
        margin-top: 0;
    }
}

.chart-lluvias-recogida {
    .line {
        stroke: blue;
        stroke-width: 2px;
    }
}

.lluvias-mes-media-chart-graph {
    .bar {
        fill: #70a5ef;
    }
}
