.footer {
    background-color: var(--impureBlack);
    width: 100%;
    padding: 20px 0;
    margin-top: 10vh;
}

.footer-texto {
    color: var(--impureWhite);
}

.footer-links {
    color: var(--colorlinks);
    font-weight: bold;
}
