.header {
    width: 100%;
    padding: 15px 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--greyC);
    box-shadow: -5px 7px 9px -8px rgba(0, 0, 0, .59);
    top: 0;
    z-index: 2;
    position: fixed;
    /* stylelint-disable */
    position: sticky;
    /* stylelint-enable */
}

.header-nav {
    margin: 0 auto;
}
