.precipitaciones-chart-container {
    position: relative;
}

.chart-lluvias-recogida {
    path {
        fill: none;
        stroke: none;
    }
    .area {
        fill: #82ceea;
    }
    circle.y {
        fill: #eda937;
        stroke: #eda937;
        r: 10;
    }
    .x,
    .y {
        stroke: #eda937;
        stroke-width: 2;
        opacity: 1;
    }
    .tick {
        text {
            font-size: 12px;
            font-weight: bold;
        }
    }
}

.tooltip-lluvias {
    background-color: #34009c;
    height: auto;
    width: 300px;
    border-color: #34009c;
    margin-left: 0;
    p {
        &:empty {
            display: none;
        }
    }
    .tooltipYear {
        color: var(--white);
        font-size: 1.1rem;
        font-weight: normal;
        max-width: 300px;
        .textYear {
            display: block;
            font-size: 1.3rem;
        }
        span {
            font-weight: bold;
            font-family: var(--monospace);
        }
    }
}
