.chart-lluvias-recogida {
    path {
        fill: none;
        stroke: none;
    }
    .area {
        fill: #34009c;
    }
    circle.y {
        fill: #eda937;
        stroke: #eda937;
        r: 10;
    }
    .x,
    .y {
        stroke: #eda937;
        stroke-width: 2;
        opacity: 1;
    }
    .tick {
        text {
            font-size: 12px;
            font-weight: bold;
        }
    }
}
