.grid-intro {
    background: linear-gradient(150deg, var(--gradient1) 15%, var(--gradient2) 70%, var(--gradient3) 94%);
    padding: 20px;
}

.title {
    font-family: var(--h1);
    font-size: 70px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    &:after {
        content: '';
        display: block;
        border-bottom: 1px solid var(--impureBlack);
        width: .6em;
    }
    &:before {
        content: '';
        display: block;
        border-bottom: 1px solid var(--impureBlack);
        width: .6em;
    }
}
