.resumen-forno-header {
    height: 100vh;
    background-color: #F8F8F8;
}

.resumen-forno {
    position: relative;
    background-color: #F8F8F8;
    .footer,
    .wrapper-vw {
        z-index: 20;
        position: relative;
    }
    .wrapper-vw {
        background-color: #F8F8F8;
    }
}

.resumen-card {
    width: 100vw;
    position: relative;
    height: 100vh;
}

.resumen-card-image {
    object-fit: cover;
    max-width: 100%;
    height: 80vh;
    margin: 10vh 0;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.resumen-card-title,
.resumen-card-date {
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: bold;
    color: var(--impureBlack);
    padding: 2rem;
    display: block;
    vertical-align: middle;
    width: 100%;
}

.atribucion {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: 11;
    color: var(--white);
}

.resumen-rgba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.resumen-intro-title {
    position: absolute;
    left: 65vw;
    top: 50vh;
    z-index: 11;
    margin: -3.13rem 0 0 -14.06rem;
    &:after,
    &:before {
        content: '';
        display: block;
        border-bottom: 1px solid var(--impureBlack);
        width: .6em;
        margin: 0 auto;
    }
    &:before {
        border-bottom: 1px solid var(--impureBlack);
    }
}

.text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--impureBlack);
    transform-origin: 0 100%;
    display: inline-block;
    opacity: 0;
}

.resumen-card-rectangle {
    width: 80vw;
    height: 80vw;
    border-radius: 100%;
    position: absolute;
    left: calc(50vw - 40vw);
    top: calc(50vh - 40vw);
    background-color: #ecda9a;
    transform: rotate(20deg);
    opacity: .4;
    z-index: 10;
}

.first {
    background-color: #efc47e;
    transform: rotate(40deg);
}

.second {
    background-color: #f3ad6a;
    transform: rotate(60deg);
}

.third {
    background-color: #f7945d;
    transform: rotate(80deg);
}

.four {
    background-color: #f97b57;
    transform: rotate(100deg);
}

.five {
    background-color: #f66356;
    transform: rotate(120deg);
}

.six {
    background-color: #ee4d5a;
    transform: rotate(140deg);
}

/* HELADAS */

.resumen-card-heladas {
    display: grid;
    grid-template-columns: 50rem 1fr;
    grid-column-gap: 20px;
}

.resumen-card-heladas-text {
    align-self: center;
    margin-right: 2rem;

}

.resumen-card-image-container-heladas {
    margin-left: 2rem;
    overflow: hidden;
}

.resumen-card-title-heladas {
    display: inline-block;
    width: initial;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #091f3c;
    &:before {
        content: '';
        width: 1vw;
        height: 3px;
        margin-right: .5rem;
        display: inline-block;
        vertical-align: middle;
        background-color: #BD804A;
    }
}

.resumen-card-date-heladas {
    font-size: 3rem;
    background-color: #091f3c;
    color: #BD804A;
    display: inline-block;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        background-color: #BD804A;
        height: 100%;
        width: 1vw;
    }
}

.resumen-card-line-heladas {
    width: 50%;
    display: inline-block;
    background-color: #091f3c;
    height: .5rem;
    &:first-child {
        background-color: #BD804A;
    }
}

@media only screen and (min-width: 30em) {

    .resumen-card-image-container {
        max-height: 80vh;
        overflow: hidden;
        font-size: 0;
    }
}

@media only screen and (min-width: 64em) {

    .resumen-card {
        padding: 20vh 0;
    }

    .resumen-card-image-container {
        &:hover {
            .resumen-card-image {
                transition: transform .8s cubic-bezier(.6, -.28, .74, .05),
                -webkit-transform .8s cubic-bezier(.25, .46, .45, .94);
                transform: scale(1.05);
            }
        }
    }

    .resumen-card-image {
        transition: transform .8s cubic-bezier(.6, -.28, .74, .05),
        -webkit-transform .8s cubic-bezier(.25, .46, .45, .94);
        height: initial;
        margin: 0;
        transform: scale(1);
    }

    .resumen-card-rectangle {
        width: 40vw;
        height: 40vw;
        position: absolute;
        left: calc(50vw - 20vw);
        top: calc(50vh - 20vw);
    }

    .resumen-intro-title {
        left: 50vw;
    }

    .letter {
        font-size: 70px;
    }
}
