.resumen-card {
    width: 100%;
    position: relative;
}

.resumen-card-image {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
}

.resumen-card-container {
    position: absolute;
    left: 10vw;
    top: 20vh;
    font-size: 0;
}

.resumen-card-title,
.resumen-card-date {
    font-family: var(--montserrat);
    font-size: 32px;
    font-weight: bold;
    background-color: #fff;
    padding: 2rem;
    display: inline-block;
    vertical-align: middle;
    box-shadow: -6px 8px 8px -8px rgba(0, 0, 0, .75);
}

.resumen-card-date {
    background-color: yellow;
    color: #000;
    font-size: 48px;
}

.atribucion {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff;
}

.resumen-rgba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.resumen-intro {
    background-color: var(--gradient2);
    padding: 20px;
    height: 70vh;
    .title {
        font-size: 4rem;
        text-align: center;
        &:after,
        &:before {
            margin: 0 auto;
        }
    }
}
