@media only screen and (min-width: 48em) {

    .grid-intro {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 40%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }

    .title {
        font-size: 100px;
    }

    .container-texto {
        padding-left: 20px;
    }

    .clima-intro {
        max-width: 55vw;
    }

    .wrapper-vw {
        max-width: 1200px;
    }

    .clima-subtitle {
        font-size: 32px;
        grid-column: 1/3;
        width: 100%;
    }

    .subtitle {
        font-size: 32px;
        margin: 25px auto;
    }

    .container-buttons {
        text-align: center;
        padding: 5px;
    }

    .label-record {
        padding: 15px;
        width: auto;
        &:nth-of-type(4n+1) {
            margin-left: 0;
        }
        &:nth-of-type(1) {
            margin-left: 5vw;
        }
    }

    .tabla-grid {
        width: 40%;
        margin: 0 5% 5% 0;
    }

    .grid-text {
        padding: 5px;
    }

    .texto {
        max-width: 50vw;
    }

    .temp-max-graph {
        margin-top: 100px;
    }

    .tabla-record-minimas-mobile {
        display: none;
    }

    .tabla-record-minimas-desktop {
        display: inline-block;
    }

    .tabla-record-header {
        width: 90%;
    }

    .tabla-record-header-text {
        width: 50%;
        text-align: left;
    }
}

