/* .tropicales:after {
    content: "";
    display: block;
    width: 32rem;
    height: 32rem;
    background: var(--gradient2);
    position: absolute;
    top: 1rem;
    left: -60rem;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
*/

.chart-tropicales,
.chart-heladas {
    .tick {
        line {
                stroke-dasharray: 0;
                stroke: var(--impureBlack);
            }
    }
    .tooltip {
        background-color: var(--impureGrey);
    }
    .xAxis {
        line,
        path {
            display: none;
        }
    }
}

.tooltipHeladas,
.tooltipTropicales {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 5px;
    color: #fff;
    + p {
        display: none;
    }
}

.chart-tropicales {
    .annotation-note-bg {
        fill: #fff;
    }
    .annotation-note-label tspan {
        fill: #E8336D;
        font-weight: bold;
    }
    .annotation-subject path {
        fill: #30155d;
        stroke: #30155d;
    }
    .annotation-note path,
    .connector {
        stroke: #30155d;
    }
    .tick line {
        fill: none;
        stroke: #777;
        stroke-dasharray: 3px 3px;
    }
}
