:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
  --montserrat: 'Montserrat', sans-serif;
  --georgia: 'Georgia', serif;
  --barColor: #642626;
  --impureBlack: #111;
  --impureGrey: #ccc;
  --gradient1: #fcde9c;
  --gradient2: #e34f6f;
  --gradient3: #7c1d6f;
  --legendBgc: #ece5b3;
  --legendTxt: #10174e;
  --btnMinBgc: #053584;
  --btnMinTxt: #d2f6fd;
  --bgcTooltip: #172f6e;
  --textTooltip: #f5d391;
  --greyC: #ccc;
  --white: #fff;
  --impureWhite: #f1f1f1;
}
