/*
  Base CSS por Jorge Aznar
  http://jorgeatgu.com
  Estructura básica para iniciar cualquier proyecto con postCSS
*/

@import '_reset';
@import '_variables';

.barra {
    fill: var(--barColor);
}

* {
    font-family: var(--fontSystem);
}

.textoBarras {
    font-size: 8px;
}
